:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --main-background: #ffffff;
  --secondary-background: #2f303a;
  --logo-dark-color: #000000;
  --button-bkg-color: #f5f4fa;
  --button-hero-active: #188ce8;
  --border-color: #eeeeee;
  --border-color-header: #ececec;
  --social-bkg-color: #afb1b8;
  --social-bkg-footer-color: rgba(255, 255, 255, 0.1);
  --work-sign-bkg: rgba(47, 48, 58, 0.8);
  --modal-bkg: rgba(0, 0, 0, 0.2);
  --border-color-close-btn: rgba(0, 0, 0, 0.1);
  --border-input-color: rgba(255, 255, 255, 0.3);
  --input-color: rgba(255, 255, 255, 0.6);
  --shadow-sendbut: rgba(0, 0, 0, 0.15);
  --bkg-overlay: rgba(33, 150, 243, 0.9);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--main-background);
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.666;
  text-align: center;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.current {
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  content: "";
  background-color: var(--accent-color);
}

.conteiner {
  max-width: 480px;
  padding: 0px 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
  }
}

.header-border {
  border-bottom: 1px solid var(--border-color-header);
}

.box-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo--header {
  padding: 16px 0 16px 0;
}
@media screen and (min-width: 768px) {
  .logo--header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo--header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.logo-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .logo-accent {
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .logo-accent {
    font-size: 26px;
    line-height: 1.1923076923;
    letter-spacing: 0.03em;
  }
}

.logo-dark {
  color: var(--logo-dark-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .logo-dark {
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .logo-dark {
    font-size: 26px;
    line-height: 1.1923076923;
    letter-spacing: 0.03em;
  }
}

.site-navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    margin-left: 93px;
  }
}
.site-navigation__list {
  position: relative;
}
.site-navigation__link {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-navigation__link .link:hover, .site-navigation__link .link:focus {
  color: var(--accent-color);
}

.header-contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-contacts {
    display: block;
    margin-top: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    gap: 50px;
    padding-left: 0;
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .header-contacts__list:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__list:not(:last-child) {
    margin-bottom: 0;
  }
}
.header-contacts__link {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .header-contacts__link {
    padding: 0;
  }
}
.header-contacts__icon {
  fill: currentColor;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .header-contacts__icon {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 768px) {
  .header-contacts__icon--phone {
    width: 10px;
    height: 14px;
  }
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.hero {
  background-color: var(--secondary-background);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero-bkg-mob@1x.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero-bkg-mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero-bkg-mob@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero-bkg-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero-bkg-tab@1x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero-bkg-tab@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero-bkg-tab@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero-bkg-tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero-bkg.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero-bkg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/Hero-bkg@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero-bkg@2x.jpg);
  }
}
.hero__title {
  max-width: 360px;
  color: var(--main-background);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.hero-button {
  width: 200px;
  height: 50px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .hero-button {
    width: 216px;
  }
}

.button:hover,
.button:focus {
  background-color: var(--button-hero-active);
}

.button--primary {
  background-color: var(--accent-color);
  border-radius: 4px;
  color: var(--main-background);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.625;
  cursor: pointer;
  border: none;
}

.button--position {
  left: 50%;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.666;
  text-align: center;
  letter-spacing: 0.03em;
}

.features-listbox {
  display: block;
}
@media screen and (min-width: 768px) {
  .features-listbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features-listbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features-listbox__card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features-listbox__card {
    width: 270px;
  }
}
@media screen and (max-width: 767px) {
  .features-listbox .features-listbox__card:not(:last-child) {
    margin-bottom: 30px;
  }
}
.features-listbox__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
.features-listbox__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features-listbox__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .features-listbox__title {
    text-align: left;
  }
}
.features-listbox__icon {
  height: 120px;
  background-color: var(--button-bkg-color);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features-listbox__icon {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .features-listbox__icon {
    width: 270px;
  }
}

.works {
  display: none;
  padding-bottom: 94px;
}
@media screen and (min-width: 1200px) {
  .works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-top: 50px;
  padding-left: 0;
}
.work-list__signbox {
  background-color: var(--work-sign-bkg);
  height: 70px;
  position: absolute;
  width: 370px;
  top: 224px;
}
.work-list__card {
  position: relative;
  width: 370px;
}
.work-list__signtext {
  color: var(--main-background);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.team {
  background-color: var(--button-bkg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__title {
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team {
  display: block;
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  .our-team .our-team__card:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .our-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    max-width: 768px;
    margin: 50px auto 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .our-team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    max-width: 100%;
  }
}
.our-team__card {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (wifth: 768px) {
  .our-team__card {
    width: calc((100% - 30px) / 2);
  }
}
.our-team__photo {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .our-team__photo {
    max-width: 345px;
  }
}
@media screen and (min-width: 768px) {
  .our-team__photo {
    max-width: 270px;
  }
}
.our-team__text {
  text-align: center;
}
.our-team__box {
  background-color: var(--main-background);
  padding: 30px;
}
.our-team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 16px;
}
.social__link {
  width: 44px;
  height: 44px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  fill: var(--social-bkg-color);
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  fill: var(--main-background);
}

.clients {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .clients {
    width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .clients__list {
    padding-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-top: 50px;
  }
}
.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc((100% - 30px) / 2);
  height: 92px;
  border: 1px solid var(--social-bkg-color);
  fill: var(--social-bkg-color);
  border-radius: 4px;
  -webkit-transition-property: border-color, fill;
  transition-property: border-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
  }
}
.clients__item:hover, .clients__item:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
.clients__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 768px) {
  .clients__title {
    font-size: 28px;
    line-height: 1.1785714286;
  }
}

.clients__icon {
  display: block;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .clients__icon {
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .clients__icon {
    margin: auto;
  }
}

.contacts-footer {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .contacts-footer {
    display: block;
  }
}
.contacts-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--contacts-footer-color);
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  font-style: normal;
}
@media screen and (min-width: 1200px) {
  .contacts-footer__link {
    display: block;
  }
}
.contacts-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 9px;
}
@media screen and (min-width: 1200px) {
  .contacts-footer__list {
    display: block;
  }
}
.contacts-footer__adresslink {
  color: var(--main-background);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--secondary-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer .footer-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.box-footer {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .box-footer {
    display: inline-block;
    margin-bottom: 0;
  }
}

.logo-white {
  color: var(--main-background);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .logo--footer {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
  }
}
.footer-social__link {
  width: 44px;
  height: 44px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  fill: var(--main-background);
  background-color: var(--social-bkg-footer-color);
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
  fill: var(--main-background);
}
.footer-social__text {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: clac(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-social__text {
    text-align: left;
  }
}
.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 60px;
}

.text {
  color: var(--secondary-color);
}

.form-subscription {
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .form-subscription {
    margin-left: 93px;
  }
}

.subscibe-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-background);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px var(--shadow-sendbut);
          box-shadow: 0px 4px 4px var(--shadow-sendbut);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.subscibe-btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-email-sub {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background);
}
@media screen and (min-width: 1200px) {
  .user-email-sub {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.box-input-sub {
  display: block;
}
@media screen and (min-width: 1200px) {
  .box-input-sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 12px;
  }
}

.input-email {
  margin-bottom: 20px;
  padding-left: 18px;
  padding-right: 18px;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: 1px solid var(--border-input-color);
  background-color: var(--secondary-background);
  color: var(--input-color);
  outline: none;
}
@media screen and (min-width: 480px) {
  .input-email {
    width: 433px;
  }
}
@media screen and (min-width: 768px) {
  .input-email {
    margin-left: calc(50% - 225px);
  }
}
@media screen and (min-width: 1200px) {
  .input-email {
    width: 358px;
    margin-left: 0;
  }
}

.icon-send {
  fill: var(--main-background);
}

@media screen and (min-width: 768px) {
  .box-footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .box-footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bkg);
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: scroll;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  height: 100%;
  min-height: 609px;
  background-color: var(--main-background);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: 450px;
    min-heightt: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 528px;
    min-heightt: 581px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.close-button {
  position: absolute;
  left: 100%;
  cursor: pointer;
  -webkit-transform: translate(calc(-100% - 8px));
          transform: translate(calc(-100% - 8px));
  border: 1px solid;
  border-color: var(--border-color-close-btn);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--main-background);
  padding: 0;
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.close-button:hover {
  fill: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}
.form__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .form__title {
    font-size: 20px;
    line-height: 1.15;
  }
}
.form__lable {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}
.form__textarea {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .form__textarea {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .form__textarea {
    width: 448px;
  }
}
.form__textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.send-but {
  margin: 30px auto 0 auto;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px var(--shadow-sendbut);
          box-shadow: 0px 4px 4px var(--shadow-sendbut);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  color: var(--main-background);
  cursor: pointer;
}

.send-but:hover,
.send-but:focus {
  background-color: var(--button-hero-active);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input {
  margin-bottom: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.input__icon {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--main-color);
}
.input__field {
  padding-left: 45px;
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .input__field {
    width: 448px;
  }
}
.input__field:focus + .input__icon {
  fill: var(--accent-color);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input__field:focus {
  outline: none;
  border-color: var(--accent-color);
}

.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.custom-checkbox__label {
  position: relative;
  padding-left: 21px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
@media screen and (min-width: 1200px) {
  .custom-checkbox__label {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}
.custom-checkbox__input-agree:checked + .custom-checkbox__icon {
  fill: var(--main-background);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.custom-checkbox__icon {
  position: absolute;
  fill: transparent;
  border: 2px solid var(--main-color);
  border-radius: 2px;
}
.custom-checkbox__input-agree {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.custom-checkbox__conditions-link {
  color: var(--accent-color);
}

.button--secondary {
  background-color: var(--button-bkg-color);
  border-radius: 4px;
  color: var(--main-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.625;
  cursor: pointer;
  border: none;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button--secondary:hover,
.button--secondary:focus {
  background-color: var(--accent-color);
  color: var(--main-background);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button--prime-box {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  padding: 6px 25px;
}

.button--sec-box {
  padding: 6px 22px;
}

.projects-item {
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.projects-item__title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.projects-item__text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
.projects-item__title--position {
  margin-bottom: 4px;
  margin-right: 0;
}

.projects__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
  margin-top: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projects-list__card {
  width: calc(33.3333333333% - 30px);
  margin: 15px;
  position: relative;
}
.projects-list__link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list__link:hover, .projects-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-list__card:hover .desc-overay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.desc-overay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--bkg-overlay);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--main-background);
}

.project-img-container {
  position: relative;
  overflow: hidden;
}

.burger-icon {
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
}
.burger-icon:hover, .burger-icon:focus {
  cursor: pointer;
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .burger-icon {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .burger-icon {
    display: none;
  }
}

.burger {
  position: fixed;
  top: 0;
  right: 0;
  height: 796px;
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.burger:hover, .burger:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .burger {
    display: none;
  }
}

.hidden {
  right: -101%;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.is-open {
  right: 0;
}

.burger-nav {
  margin-top: 48px;
  margin-left: 40px;
}

.burger-nav__list:hover,
.burger-nav__list:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.burger-nav__list:not(:last-child) {
  margin-bottom: 32px;
}

.burger-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.burger-contacts {
  margin-left: 40px;
  margin-bottom: 48px;
}

.burger-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger-contacts__link--tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .burger-contacts__link--tel {
    font-size: 34px;
    line-height: 1.1764705882;
  }
}

.burger-contacts__list:not(:last-child) {
  margin-bottom: 32px;
}

.burger-contacts__link--site {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.burger-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 64px;
}

.burger-social__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .burger-social__link {
    font-size: 18px;
    line-height: 1.2222222222;
  }
}

.burger-social__list:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid var(--main-color);
}

.burger-social__list:not(:first-child) {
  padding-left: 10px;
}

.burger__close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 0;
  border: 0;
  background-color: var(--main-background);
  fill: var(--main-color);
}
.burger__close:hover, .burger__close:focus {
  color: var(--accent-color);
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */